body {
    background-color: #0e0f16;
    color: #8ad4ee;
    font-size: 36px;
}
div#error {
    height: 38px;
    background: #cf3737;
    color: #fff;
    display: none;
}
#count {
    opacity: 0.2;
    position: fixed;
    bottom: 0;
    left: 0;
}
#content {
    width: 100%;
}
#footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 2px 18px;
    box-sizing: border-box;
}
.item {
    display: flex;
    position: relative;
}
.item-time {
    font-size: 0.8em;
}
.item-title {
    padding: 5px 15px 5px 1px;
    font-weight: 900;
}
.item-content {
    padding: 5px 3px 5px 1px;
    font-weight: 300;
    opacity: 0.8;
}
.item-error {
    padding: 5px 3px 5px 1px;
    color: orangered;
}
#modal {
    display: none;
    border: 1px #fff solid;
    position: fixed;
    z-index: 9;
    left: 20px;
    top: 20px;
    overflow: auto;
    bottom: 30px;
    right: 30px;
    background-color: #3d3b44e6;
    padding: 30px;
    font-size: 0.5em;
}
